apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: league-service-hpa
  namespace: football-manager
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: league-service
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
