apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  namespace: football-manager
  labels:
    app: api-gateway
spec:
  type: ClusterIP
  ports:
    - port: 3001
      targetPort: 3001
      protocol: TCP
      name: http
  selector:
    app: api-gateway
