apiVersion: v1
kind: Service
metadata:
  name: club-service
  namespace: football-manager
  labels:
    app: club-service
spec:
  type: ClusterIP
  ports:
    - port: 3002
      targetPort: 3002
      protocol: TCP
      name: http
  selector:
    app: club-service
