apiVersion: v1
kind: Service
metadata:
  name: league-service
  namespace: football-manager
  labels:
    app: league-service
spec:
  type: ClusterIP
  ports:
    - port: 3007
      targetPort: 3007
      protocol: TCP
      name: http
  selector:
    app: league-service
