apiVersion: v1
kind: Service
metadata:
  name: message-service
  namespace: football-manager
  labels:
    app: message-service
spec:
  type: ClusterIP
  ports:
    - port: 3008
      targetPort: 3008
      protocol: TCP
      name: http
  selector:
    app: message-service
