apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: football-manager
  labels:
    app: notification-service
spec:
  type: ClusterIP
  ports:
    - port: 3009
      targetPort: 3009
      protocol: TCP
      name: http
  selector:
    app: notification-service
