apiVersion: v1
kind: Service
metadata:
  name: player-service
  namespace: football-manager
  labels:
    app: player-service
spec:
  type: ClusterIP
  ports:
    - port: 3003
      targetPort: 3003
      protocol: TCP
      name: http
  selector:
    app: player-service
