apiVersion: v1
kind: Service
metadata:
  name: youth-service
  namespace: football-manager
  labels:
    app: youth-service
spec:
  type: ClusterIP
  ports:
    - port: 3006
      targetPort: 3006
      protocol: TCP
      name: http
  selector:
    app: youth-service
